<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Job Analysis Administration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/job.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/job-data-services.js"></script>
        <script type="text/javascript" src="../scripts/admin.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>
    <body ng-app="jobAdmin" ng-controller="JobAdminController as admin">
        <main id="adminPage">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" id="aboutEvt" ng-click="admin.setOption(0)">Job Administration</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#" id="homeEvt" ng-click="admin.setOption(1)">Home</a>
                            </li>
                            <li ng-show="admin.isLoggedOn()">
                                <a href="#" id="loadEvt" ng-click="admin.setOption(2)">Users</a>
                            </li>
                            <li ng-show="admin.isLoggedOn()">
                                <a href="#" id="historyEvt" ng-click="admin.setOption(3)">Roles</a>
                            </li>
                            <li ng-show="admin.isLoggedOn()">
                                <a href="#" id="variabilityEvt" ng-click="job.setOption(4)">Mass Update</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li ng-hide="admin.isLoggedOn()">
                                <a href="#" id="logonEvt" ng-click="admin.setOption(7)"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                            <li ng-show="admin.isLoggedOn()">
                                <a href="#" id="logoffEvt" ng-click="admin.logoff()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="about" ng-show="admin.isOption(0)">
                <div class="jumbotron">
                     <h3>Job Administration</h3>

                    <p>This is the administration function for the Job Analysis Application.</p>
                </div>
            </section>
            
<section ng-show="admin.isOption(7)">
               <div id="authentication" class="container">
                   <form role="form" id="logon" novalidate>
                       <div class="row form-group"> <span class="col-sm-6">&nbsp;</span>
<span class="col-sm-3">
                     <label for="username">Id</label>
                   <input type="text" id="username" name="username" class="form-control" ng-model="admin.username"/>
                 </span>
<span class="col-sm-3">
                     <label for="password">Password</label>
                   <input type="password" id="password" name="password" class="form-control" ng-model="admin.password" />
                 </span>

                       </div>
                       <div class="row form-group"> <span class="col-sm-9">&nbsp;</span>
<span class="col-sm-3">
                   <button type="button" class="btn btn-primary" id="authButton" ng-click="admin.logon()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                           </span>
                       </div>
                       <div class="row" ng-show="admin.isErrorLogon()"> <span class="col-sm-9">&nbsp;</span>
<span class="col-sm-3">
                   <h5 id="auth-results" class="auth-results" ng-model="admin.logon_error_message">Logon Failed!</h5>
                 </span>

                       </div>
                   </form>
               </div>
           </section>
            

                </body>
            </html>